<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find siuuu)/urdf/siuuu.xacro" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 -0.3 0 0 0 base_link base_footprint 40" />  
    
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find siuuu)/urdf.rviz" />
</launch>
